# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.*

# Archivos específicos de tu proyecto
tipos_de_contratos.txt

# Carpetas que no van
public/
.idea/
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
